/*------/ Intro Single /------*/

/*.intro-single .breadcrumb-box {
	padding: 1rem 0 0 0.5rem;
}

.intro-single .breadcrumb {
	background-color: transparent;
	padding-right: 0;
	padding-left: 0;
} */
