.modal-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	outline: 0;
}

.headerCustom {
	padding: 0 20px;
	height: 45px;
	background-color: #f4f4f4;
}

.headerCustom .titleCustom {
	line-height: 45px;
	margin: 0;
	font-weight: 700;
	font-size: 16px;
	display: flex;
	justify-content: center;
}

.bodyCustom {
	padding: 0px 10px 20px 0px;
}

.text-center {
	text-align: center;
}

/* .modal-body___23JBz.report___3-oVV {
	padding: 15px;
	overflow: hidden;
}
.modal-body___23JBz {
	position: relative;
	padding: 0;
	max-height: 500px;
	overflow: scroll;
}

.button___1TU3f {
	margin-bottom: 15px !important;
	font-size: 14px !important;
}
.btn-block {
	display: block;
	width: 100%;
	background-color: rgb(0, 255, 128);
} */

.report-accomod {
	margin: 0px auto;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	border-left: 4px solid rgb(9, 160, 59);
	margin-top: 10px;
}

.report-accomod div {
	margin: 5px;
}

.report-accomod div label {
	cursor: pointer;
}
label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.report-accomod div label input[type="radio"] {
	display: none;
}
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

.report-accomod div label span {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 15px;
	transition: 0.5s;
	user-select: none;
	overflow: hidden;
}

.report-accomod label input[type="radio"]:checked ~ span {
	border-color: rgb(255, 0, 0);
}
